body {
    color: #333333;
    background-image: url(../img/background.jpg);
    margin: 0;
    font-family: serif;
}

section {
    max-width: 1800px;
    width: 95%;
    margin: 30px auto auto auto
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}

table {
    margin-top: 30px;
    border: 1px;
    width: 100%;
    background: white;
    color: black;
    border-spacing: 1px;
}

td, th {
    background: #44404036;
    padding: 5px; /* Поля вокруг текста */
}

.menu {
    width: 20%;
}

.number {
    width: 5%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: auto auto auto auto;
}

.button, .filter {
    border-radius: 12px;
    color: white;
    background-color: black;
}

.add {
    height: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto 10px auto;
}

.light {
    background-color: rgba(255, 255, 255, 0.5);
    background-color: azure;
    color: black;
    width: 100px;;
    margin: auto 30px;
}

form {
    margin-block-end: 0px;
}

.form-section {
    background-color: rgba(22, 21, 21, 0.5);
    display: inline-block;
    height: 50%;
    width: 50%;
}
.form-container {
    display: flex;
    flex-direction: column;
}

.form-el {
    margin: 10px;
}

.close {
    background-color: red;
    color: white;
}

.search {
    font-size: 14px;
    font-family: sans-serif;
    width: 650px;
    background-color: gainsboro;
    border: ridge;
    border-radius: 8px;
}

.error {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}